{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>APIs PIM - PAM - PUM</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'pages/css/stylesAPIs.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = google.visualization.arrayToDataTable({{values2|safe}});

            var options = { 
                title: 'Instrumentos Jugados',
                chartArea: {width: '50%'},
                
                hAxis: {
                title: 'Intruments',
                minValue: 0
                },
                width: 1500,
                height: 400,
                vAxis: {
                title: 'Minutos'
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>

    <script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBarColors);

    function drawBarColors() {
        var data = google.visualization.arrayToDataTable({{data_quiz|safe}});

        var options = {
            title: 'Quiz data',
            chartArea: {width: '40%'},
            colors: ['purple', 'orange'],
            hAxis: {
            minValue: 0
            },
            width: 1500,
            height: 400,
            vAxis: {
            title: 'Datos Quiz'
            }
        };
        
        var chart = new google.visualization.BarChart(document.getElementById('chart_div_questions'));
        chart.draw(data, options);
    }
    </script>



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-lg-5">
            <a class="navbar-brand" href='{% url "dashBoard" %}'>PIM - PAM - PUM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href='{% url "dashBoard" %}'>Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">PIM - PAM - PUM</h1>
                    <p class="fs-4">Here you can find all the global public score of users. </p>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="container-table100">
                <h2>Global Score</h2>
                 <div class="wrap-table100">
                     <div class="table">
                         <div class="row header">
                             <div class="cell">
                                 Username
                             </div>
                             <div class="cell">
                                 Progress percentage
                             </div>
                             <div class="cell">
                                 Score
                             </div>
                         </div>
         
                         {% for d in values  %}
                             <div class="row">
                                 {% for x in d %}
                                     <div class="cell">{{x}}</div>
                                 {% endfor %}
                             </div>
                         {% endfor %}
                     </div>
                 </div>
             </div>
        </div>
    </div>

    <div id="chart_div"></div>

    <div id="chart_div_questions"></div>




</body>

</html>